CENTRAL_MQTT_HOST=localhost
CENTRAL_MQTT_PORT=1883
CENTRAL_MQTT_USERNAME=
CENTRAL_MQTT_PASSWORD=
CENTRAL_MQTT_TOPIC=xercode/+/+/telemetry
CENTRAL_MQTT_CLIENT_ID=xercode-mqtt-router

TENANT_MQTT_DEFAULT_USERNAME=
TENANT_MQTT_DEFAULT_PASSWORD=

LOG_LEVEL=INFO
